__pycache__
*.pyc
.git
.venv
mcp_dev_runner.py
aggents_dev_runner.py
Makefile
.pre-commit-config.yaml
README.md
.env.agents.development
.env.idu_mcp.development
.env.agents.
**/dev
/data
tools/test-ui/node_modules
tools/test-ui/dist
